.cartoon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vmin;
  height: 80vmin;
}

.cartoon div {
  position: absolute;
  box-sizing: border-box;
}

.b {
  border: 0.5vmin solid;
}

.r {
  border-radius: 100%;
}

.hb::before,
.ha::after {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
}

#desc {
  width: 0;
  height: 0;
  overflow: hidden;
  left: -1000in;
}


#youtube {
  display: block;
  width: 100px;
  height: 70px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: red;
  border-radius: 50% / 11%;
  transition: transform 0.5s;
}

#youtube:hover,
#youtube:focus {
  transform: scale(1.1);
}

#youtube::before {
  content: "";
  display: block;
  position: absolute;
  top: 7.5%;
  left: -6%;
  width: 112%;
  height: 85%;
  background: red;
  border-radius: 9% / 50%;
}

#youtube::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: 40px;
  width: 45px;
  height: 30px;
  border: 15px solid transparent;
  box-sizing: border-box;
  border-left: 30px solid white;
}

#youtube span {
  font-size: 0;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

/****/
html, body {
  overflow: hidden;  
}

.cartoon {
  --skin: #fca;
  --shadow-light: #8800000a;
  --shadow: #8002;
  --shadow-dark: #8005;
  --hair: #531;
  --iris: #69c;
  --eye: #fff;
  --pupil: #222;
  --cheek: #f001;
  --tshirt: #ddd;
  --letters: #666;
  overflow: hidden;
}

.face {
  width: 30%;
  height: 40%;
  background: var(--skin);
  border-radius: 100% / 120% 120% 50% 50%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0 1vmin var(--shadow), 0 1vmin var(--skin), 0 11vmin 0 -5vmin var(--skin), 0 13vmin 0 -5vmin var(--shadow), -6vmin -4vmin 0 -5vmin var(--hair), 6vmin -4vmin 0 -5vmin var(--hair);
}

.ear {
  width: 10%;
  height: 18%;
  background: var(--skin);
  border-radius: 100% 100% 20% 120%;
  transform: rotate(-4deg);
  top: 22%;
  left: 30%;
  box-shadow: inset -3vmin 1vmin var(--shadow);
}

.ear::after {
  width: 50%;
  height: 25%;
  border-radius: 50%;
  background: var(--shadow);
  top: 50%;
  left: 27%;
}

.ear + .ear {
  transform: scaleX(-1) rotate(-4deg);
  left: auto;
  right: 30%;
}

.eye {
  width: 30%;
  height: 19%;
  background: var(--eye);
  border-radius: 100% 5vmin 20% 20% / 70%;
  top: 36%;
  left: 13%;
  box-shadow: 0 -2vmin var(--shadow-light), 0 -2vmin var(--skin), 0.075vmin -4vmin 0 -0.35vmin var(--hair), inset 0 2vmin 0 -1vmin var(--shadow), inset 0 2vmin 0 -1vmin var(--skin);
  overflow: hidden;
}

.eye + .eye {
  left: auto;
  transform: scaleX(-1);
  right: 13%;
}

.iris {
  width: 2vmin;
  height: 2vmin;
  background: var(--eye);
  top: 63%;
  left: 50%;
  transform: translate(-40%, -50%);
  box-shadow: 0 0 0 1.25vmin var(--iris), inset 0.33vmin -0.33vmin 0 0.66vmin var(--pupil);
}

.eye + .eye .iris { 
  transform: scaleX(-1) translate(40%, -50%);
}

.nose {
  width: 20%;
  height: 30%;
  background: var(--skin);
  border-radius: 100% / 120% 120% 80% 80%;
  left: 50%;
  top: 45%;
  transform: translate(-50%, 0);
  background-image: linear-gradient(transparent 20%, var(--shadow) 80%);
}

.nostril {
  width: 2.5vmin;
  height: 2.5vmin;
  background: var(--shadow);
  top: 65%;
  left: 35%;
  box-shadow: 4.75vmin 0 var(--shadow);
}

.mouth {
  width: 60%;
  height: 25%;
  border: 0.125vmin solid transparent;
  border-bottom: 0.5vmin solid var(--shadow-dark);
  left: 50%;
  transform: translate(-50%, 0) rotate(5deg);
  top: 62%;
}

.mouth::after {
  width: 2.5vmin;
  height: 2.5vmin;
  border: 0.125vmin solid transparent;
  border-left: 0.35vmin solid var(--shadow-dark);
  border-radius: 50%;
  transform: rotate(45deg);
  top: 65%;
}

.hair {
  width: 28%;
  height: 10%;
  background: var(--hair);
  top: 5%;
  left: 51%;
  border-radius: 20vmin 25vmin 20vmin 10vmin / 100%;
  transform: translate(-50%, 0) rotate(4deg);
}

.hair::after {
  width: 4vmin;
  height: 4vmin;
  border-radius: 50%;
  top: 90%;
  left: 38%;
  box-shadow: inset -1vmin 0.5vmin var(--hair);
}

.hair-back {
  width: 36%;
  height: 20%;
  border-radius: 40% / 100%;
  background: var(--hair);
  top: 10%;
  left: 32%;
}

.cheeks {
  width: 80%;
  height: 10%;
  background: #f007;
  top: 55%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 0 0 100% 100%;
  background: radial-gradient(at 50% 0, var(--cheek), transparent 80%);
}

.tshirt {
  width: 55%;
  height: 70%;
  background: var(--tshirt);
  top: 54%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 100% / 40% 40% 100% 100%;
}

.tshirt::after {
  content: "<html>";
  left: 50%;
  transform: translate(-50%, 0);
  top: 35%;
  font-size: 6.5vmin;
  font-family: courier;
  font-weight: bold;
  color: var(--letters);
}

.tshirt::before {
  width: 80%;
  height: 20%;
  left: 50%;
  top: 58%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  background: linear-gradient(var(--shadow-light) -20%, transparent 20%);
}

.shoulders {
  width: 80%;
  height: 35%;
  background: var(--tshirt);
  left: 50%;
  top: 54%;
  border-radius: 100% / 45vmin 48vmin 0 0;
  transform: translate(-50%, 0);
  background-image: radial-gradient(at 50% 100%, var(--shadow-dark), var(--tshirt) 60%);
}

.arms {
  width: 77%;
  height: 30%;
  background: var(--skin);
  border-radius: 100% / 200vmin;
  left: 50%;
  transform: translate(-50%, 0);
  top: 80%;
  background-image: linear-gradient(to right, transparent, var(--shadow-dark) 40% 60%, transparent);
  box-shadow: inset 0 9vmin 4vmin -4vmin var(--shadow-dark);
}