html, body {
  --hair: #422;
  --skin: #da8;
  --red: #a12;
  --yellow: #fe0;
  --white: #edd;
  overflow: hidden;
  background: var(--red);
}

.cartoon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vmin;
  height: 50vmin;
}


.cartoon div {
  position: absolute;
  box-sizing: border-box;
}

.b {
  border: 1vmin solid black;
}

.r {
  border-radius: 100%;
}

.hb::before,
.ha::after {
  content: "";
  display: block;
  position: absolute;
}

/****/

.heart {
  width: 25%;
  height: 25%;
  background: var(--yellow);
  transform: translate(-50%, 25%) rotate(45deg);
  left: 50%;
  bottom: 0;
}

.heart::before,
.heart::after {
  width: 100%;
  height: 100%;
  left: -50%;
  top: 0;
  background: var(--yellow);
  border-radius: 50%;
}

.heart::after {
  top: -50%;
  left: 0;
}

.face {
  width: 35%;
  height: 43%;
  background: var(--skin);
  transform: translate(-50%, 0);
  left: 50%;
  top: 0%;
  overflow: hidden;
  border-radius: 100% / 105% 105% 80% 80%;
  box-shadow: 0 0 0 2vmin var(--red);
}


.face::after {
  width: 100%;
  height: 80%;
  background: var(--hair);
  border-radius: 50%;
  top: -40%;
  left: -30%;
}

.face::before {
  width: 80%;
  height: 60%;
  border-radius: 50%;
  top: -20%;
  left: -12%;
  transform: rotate(10deg);
  box-shadow: 2vmin -1vmin 0 -0.5vmin var(--hair);
}

.antenna {
  width: 32%;
  height: 35%;
  border: 0.5vmin solid var(--white);
  top: 8%;
  left: 44%;
  border-bottom-color: transparent;
  border-left: 0.25vmin solid transparent;
  border-right: 0.75vmin solid var(--white);
  transform: translate(-100%, -80%) rotate(-45deg);
}

.antenna::after {
  width: 8vmin;
  height: 8vmin;
  background: blue;
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: translate(-40%, -30%);
  background: var(--yellow);
  background: radial-gradient(var(--yellow) 40%, var(--red) 0);
  box-shadow: inset -2vmin 1vmin var(--red);
}

.antenna + .antenna {
  width: 35%;
  transform: scaleX(-1) translate(-100%, -80%) rotate(-45deg);
  left: 20%;
  top: 9%;
  height: 34%;
}

.letters {
  width: 1.75vmin;
  height: 7vmin;
  background: var(--red);
  color: var(--red);
  top: 80%;
  left: 36%;
  box-shadow: 8vmin 0, 13vmin 0;
}

.letters::after  {
  width: 6vmin;
  height: 1.75vmin;
  background: var(--red);
  color: var(--red);
  box-shadow: 0 5.25vmin, 8vmin 2.5vmin
}